<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.6.0" targetFramework="net45" />
  <package id="RestBus.Client" version="0.5.2" targetFramework="net45" />
  <package id="RestBus.Common" version="0.6.2" targetFramework="net45" />
  <package id="RestBus.RabbitMQ" version="0.6.8" targetFramework="net45" />
</packages>